{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'ru' }}">
<!-- theme:ceramics -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ spa_bootstrap.store.name|default:'Store' }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
  {% for href in spa_css_urls %}
  <link rel="stylesheet" href="{{ href }}" crossorigin>
  {% endfor %}
</head>
<body>
  <div id="root"></div>
  {{ spa_bootstrap|json_script:"django-bootstrap" }}
  {% for src in spa_js_urls %}
  <script type="module" src="{{ src }}" crossorigin></script>
  {% endfor %}
</body>
</html>
